.form-control{
    background: #1e1e1e;
    color: white;
}

.toolbar{
    border:solid 1px #383838;
    background-color: #485157;
    padding: 5px;

    i{
        cursor: pointer;
        padding: 5px;
    }
}