<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-primary">
            <div class="modal-header">
                <h5 class="modal-title">Reply Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="replyForm" (ngSubmit)="submitReply(replyForm.value)" class="form-group">
                    <div class="field">
                        <label for="content">Reply content</label>
                        <div class="toolbar w-11">
                            <i class="fa-solid fa-bold" (click)="formatText('bold')"></i>
                            <i class="fa-solid fa-italic" (click)="formatText('italic')"></i>
                        </div>
                        <div id="content" name="content" class="inputfield w-11" contenteditable="true"
                            (keyup)="copyContent($event)"></div>
                        <textarea style="display: none" formControlName="content"></textarea>
                    </div>
                    <div class="field">
                        <label for="img">Reply image</label>
                        <input type="file" class="inputfield w-11" accept="image/*" formControlName="img"
                            (change)="processIMG($event)" />
                        <p-button icon="pi pi-times" type="button" [disabled]="!replyForm.get('img')?.dirty"
                            (click)="clearImg()" styleClass="ml-1 p-button-rounded p-button-secondary p-button-danger">
                        </p-button>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="replyForm.invalid">
                            <i class="fa-solid fa-upload"></i>
                            Submit
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">
                            <i class="fa-solid fa-xmark"></i>
                            Close form
                        </button>
                        <ul>
                            <li>{{replyForm.value}}</li>
                            <li>{{replyForm.valid}}</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>