<div class="container">
  <div class="row justify-content-center margin-centrar">
    <div class="col-12 col-md-8 col-lg-6 login">
      <form [formGroup]="form" (ngSubmit)="register()">
        <div class="mb-3">
          <label class="form-label"><b>Email</b></label>
          <input formControlName="email" type="email" class="form-control" />
          <p
            class="error"
            *ngIf="
                form.controls['email'].errors?.['pattern'] &&
                form.controls['email'].touched
              "
          >
            Email valido requerido
          </p>
        </div>
        <div class="mb-3">
          <label class="form-label"><b>Password</b></label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
          />
          <p
            class="error"
            *ngIf="
                form.controls['password'].errors?.['required'] &&
                form.controls['password'].touched
              "
          >
            Password requerida
          </p>
          <p
            class="error"
            *ngIf="
                form.controls['password'].errors?.['minlength'] &&
                form.controls['password'].touched
              "
          >
            Password minimo de 6 caracteres
          </p>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          Registrar
        </button>
      </form>
    </div>
    <div class="col-12 col-md-4 col-lg-4 register">
      <h2 class="mt-3">Ya estas registrado?</h2>
      <a
        class="btn btn-primary mt-3"
        [routerLink]="['/auth/login']"
        routerLinkActive="router-link-active"
        >Login</a
      >
    </div>
  </div>
</div>
