<div class="grid" id="postGrid">
    <p-progressSpinner class="col-12 text-center" strokeWidth="4" *ngIf="loading"></p-progressSpinner>
    <div
    *ngFor="let post of posts" 
    class="col-12 xl:col-3 lg:col-4 md:col-6 sm:col-12">
        <p-card>
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center pt-2">
                    <img alt="Card" src="assets/showcase/images/card.png" style="max-width: 175px" />                </div>
            </ng-template>
                <div class="p-card-title" style="cursor: pointer;" [routerLink]="post.id">
                    {{post.title | shortContent:10}}
                </div>
                <p class="h-10rem text-justify" [innerHTML]="post.content | shortContent: 250"></p>
        </p-card>
    </div>
</div>