<div class="container" id="postGrid">
  <div class="text-center" *ngIf="loading">
    <div
      class="spinner-border text-warning"
      role="status"
      style="width: 10rem; height: 10rem">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 card-group my-1">
      <div class="card" *ngIf="!loading">
        <img
          src="assets/showcase/images/card.png"
          class="card-img-top"
          alt="Base image for creating post"
          style="cursor: default"/>
        <div class="card-body">
          <h5 class="card-title" (click)="createPost()">
            <b>CREATE POST</b>
          </h5>
          <p class="card-text">Share your own thoughts with the community!</p>
        </div>
        <div class="card-footer text-center">
          <button
            type="button"
            class="btn btn-primary btn-lg"
            (click)="createPost()">
            Create Post
          </button>
        </div>
      </div>
    </div>
    <div
      *ngFor="let post of posts"
      class="col-xl-3 col-lg-4 col-md-6 col-sm-12 card-group my-1">
      <div class="card post-card"
      [routerLink]="post.id">
        <img
          [src]="post.img ? post.img : 'assets/showcase/images/card.png'"
          class="card-img-top"
          alt="Post image"/>
        <div class="card-body">
          <h5 class="card-title">
            <b>{{ post.title | shortContent: 15 }}</b>
          </h5>
          <p
            class="card-text"
            [innerHTML]="post.content | shortContent: 200">
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ post.date | date }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
