<div class="grid">
    <div class="col-12 md:col-8 md:col-offset-2 detail-post-background">
        <div class="grid">
            <div class="col-12 md:col-4">
                <img class="imagen-post" src="../../../../assets/showcase/images/card.png" alt="" />
            </div>
            <div class="col-12 md:col-8">
                <h2>Titulo</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis cum soluta nam eos consectetur atque ipsa quas architecto, eum dolore, nulla recusandae eligendi amet, ab illum provident assumenda dolor. Maxime.
                </p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 md:col-4">
                <h4>Usuario o Anonimio</h4>
            </div>
            <div class="col-12 md:col-8">
                <div class="grid">
                    <div class="col-6">
                        <h5>Replies: <span>Xnumero</span></h5>
                    </div>
                    <div class="col-6">
                        <button pButton pRipple type="button" label="Responder"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>