<div class="grid">
    <div class="col-12 md:col-8 md:col-offset-2 detail-post-background">
        <div class="grid">
            <div class="col-12 md:col-4">
                <img class="imagen-post" [src]="(detailPost.img)?detailPost.img:'assets/showcase/images/card.png'" alt="" />
            </div>
            <div class="col-12 md:col-8">
                <p>{{ detailPost.title }}</p>
                <p class="capitalize" [innerHTML]="detailPost.content"></p>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 md:col-4">
                <h4>{{(detailPost.uid) ? detailPost.uid : "Anon"}}</h4>
            </div>
            <div class="col-12 md:col-8">
                <div class="grid">
                    <div class="col-6">
                        <h5>Replies: <span>{{repliesPost.length}}</span></h5>
                    </div>
                    <div class="col-6 flex justify-content-center">
                        <button pButton pRipple type="button" label="Responder" class="p-button-secondary flex align-items-center justify-content-center"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-reply-post [repliesData]="repliesPost"></app-reply-post>