// Paleta de colores: https://lospec.com/palette-list/cyan-abyss

:root {
  // OSCUROS

  --fondo-Negro: #06080a;
  --fondo-Oscuro: #080e12;
  --fondo-Medio: #09151b;
  --fondo-Claro: #081e26;

  // MEDIOS
  --medio-Negro: #052a32;
  --medio-Oscuro: #184042;
  --medio-Medio: #204c48;
  --medio-Claro: #365c51;

  // CLAROS
  --claro-Oscuro: #4e715f;
  --claro-Medio: #809a80;
  --claro-Claro: #9eaf99;
}
