.alert {
  padding: 0.5rem 0.5rem;
}

.fondo {
  background: var(--fondo-Medio);
  padding: 20px;
  border-radius: 20px;
  color: var(--claro-Medio);
  box-shadow: 4px 4px 10px 0px var(--medio-Negro);
}

.user-resalto {
  color: var(--claro-Claro);
}

.post-label {
  color: var(--claro-Claro);
}
