.login {
  background-color: var(--fondo-claro);
  color: var(--claro-medio);
  padding: 40px 60px;
}
.register {
  background-color: var(--claro-medio);
  color: var(--fondo-medio);
  padding: 80px 20px;
  text-align: center;
}
