<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="carouselHolder">
                <figure class="carousel" id="carousel">
                    <img src="assets/showcase/images/card.png" alt="">
                    <img src="assets/showcase/images/card123.png" alt="">
                    <img src="assets/showcase/images/card12.png" alt="">
                    <img src="assets/showcase/images/card1.png" alt="">
                </figure>
            </div>
            <span style="float:left;" (click)="gallerySpin('-')">&lt;</span>
            <span style="float:right;" (click)="gallerySpin('')">&gt;</span>
        </div>
        <div class="col"></div>
    </div>
</div>