.container{
    background-color: #1d2530;
}

.carouselHolder{
    perspective: 1200px;
    padding-top: 10%;

    ~ span{
        color: black;
        margin: 5%;
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
        transition: 0.6s color;
        position: relative;
        margin-top: -6rem;
        border-bottom: none;
        line-height: 0;
    }
}

span:hover{
    color: #888;
    cursor: pointer;
}

.carousel{
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -500px;
    transition: 1s;

    img{
        height: 315px;
        width: 400px;
        position: absolute;
        left: 25%;
        transform-origin: 50% 50% -500px;
        outline: 1px solid transparent;
    }

    img:nth-child(1){
        transform: rotateY(0deg)
    }
    img:nth-child(2){
        transform: rotateY(-90deg)
    }
    img:nth-child(3){
        transform: rotateY(-180deg)
    }
    img:nth-child(4){
        transform: rotateY(-270deg)
    }
}