<h2 mat-dialog-title>Post Form</h2>
<mat-dialog-content>
  <form [formGroup]="postForm" (ngSubmit)="submitPost(postForm.value)" class="form-group">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" formControlName="title" id="floatingTitleInput"
        placeholder="Post Title" />
      <label for="floatingTitleInput">Post Title</label>
      <button type="button" class="btn btn-danger btn-sm" (click)="clearTitle()"
        [disabled]="!postForm.get('title')?.dirty">
        <i class="fa-solid fa-square-xmark"></i>
      </button>
    </div>
    <div class="field">
      <label for="content">Post content</label>
      <div class="toolbar w-11">
        <i class="fa-solid fa-bold" (click)="formatText('bold')"></i>
        <i class="fa-solid fa-italic" (click)="formatText('italic')"></i>
      </div>
      <div id="content" name="content" class="inputfield w-11 form-control" contenteditable="true" (keyup)="copyContent($event)">
      </div>
      <textarea style="display: none" formControlName="content"></textarea>
    </div>
      <br>
    <div class="field">
      <label for="img">Post image</label>
      <br>
      <input type="file" class="inputfield w-11" accept="image/*" formControlName="img" (change)="processIMG($event)" />
      <button type="button" [disabled]="!postForm.get('img')?.dirty" (click)="clearImg()"
        class="btn btn-danger btn-sm">
        <i class="fa-solid fa-square-xmark"></i>
      </button>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">
      <i class="fa-solid fa-upload"></i>
      Submit
    </button>
    <button type="button" class="btn btn-danger" [mat-dialog-close]>
      <i class="fa-solid fa-xmark"></i>
      Close form
    </button>
  </form>
</mat-dialog-content>