.card{
    background-color: var(--fondo-claro);
    border-radius: 0.75rem;
    border-width: 0.25rem;
    border-color: var(--medio-oscuro);
}

@keyframes popUpIntoViewAnim {
    0%{
        transform: scale(1.05, 1.05);
    }
    100%{
        transform: scale(1,1);
    }
}

.popIntoView{
    animation: popUpIntoViewAnim 3s 1;
}

.cardImage{
    padding: 0.5rem 0.5rem;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.card-text{
    color: var(--claro-claro);
}

.card-title{
    color: var(--claro-oscuro);
}

.idlink{
    font-size: 0.75rem;
    color:var(--claro-oscuro);
    cursor:pointer;
    text-decoration: none;
}

.idlink:hover{
    color:var(--claro-medio);
}