<div class="col-12 md:col-12 md:col-offset-2 detail-reply-background" *ngFor="let item of repliesData">
    <div class="grid">
        <div class="col-12 md:col-4 lg:col-3">
            <img class="imagen-reply" [src]="item.img" alt="" />
        </div>
        <div class="col-12 md:col-8 lg:col-9">
            <h2>Titulo</h2>
            <p>{{ item.content }}</p>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-4">
            <h4>Usuario o Anonimio</h4>
        </div>
        <div class="col-12 md:col-8">
            <div class="grid">
                <div class="col-6">
                    <h5>
                        Replies:
                        <span>{{
              item.entries == undefined
                ? "Todavia no hay respuestas"
                : item.entries.length
            }}</span>
                    </h5>
                </div>
                <div class="col-6 flex justify-content-center">
                    <button pButton pRipple type="button" label="Responder" class="p-button-secondary flex align-items-center justify-content-center"></button>
                </div>
            </div>
        </div>
    </div>
</div>