/* You can add global styles to this file, and also import other style files */
@import "./utilities/variables";
html,
body {
  margin:0;
  background-color: var(--fondo-negro);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.btn-primary {
  color: var(--fondo-medio);
  background-color: var(--medio-claro);
  border-color: var(--medio-claro);
}
.btn-primary:hover {
  color: var(--claro-claro);
  background-color: var(--medio-oscuro);
  border-color: var(--medio-negro);
}
.btn-primary:active {
  color: var(--claro-claro);
  background-color: var(--medio-oscuro);
  border-color: var(--medio-negro);
}
.btn-primary:focus {
  color: var(--claro-claro);
  background-color: var(--medio-oscuro);
  border-color: var(--medio-negro);
}
.btn-primary:disabled {
  color: var(--claro-claro);
  background-color: var(--medio-oscuro);
  border-color: var(--medio-negro);
}

@import "~@angular/material/prebuilt-themes/purple-green.css";
