.grid--fondo {
    background-color: blue;
    .notfound--title {
        font-size: 25vw;
        margin: 2px;
    }
    .notfound--descripcion {
        font-size: 5vw;
        margin: 2px;
    }
    .boton--margin {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}

.errorBackground{
    background-color: var(--fondo-claro);
}