<!-- <div class="grid grid--fondo pb-5">
  <div class="col-8 col-offset-2 text-center">
    <h1 class="notfound--title">404</h1>
    <h4 class="notfound--descripcion">{{ errorMsg }}</h4>

    <button
      type="button"
      label="Volver a Home"
      class="p-button-rounded boton--margin"
      routerLink="/"
    ></button>
  </div>
</div> -->
<div class="row h-100">
  <div class="col-12 text-center w-100 errorBackground">
    <h1>404</h1>
    <h4>Page not found</h4>
    <button class="btn btn100 btn-primary" routerLink="/">
      Return home
    </button>
  </div>
</div>