.errorBackground {
  background-color: var(--fondo-claro);
  padding: 5%vw;
  .notfound--title {
    font-size: 25vw;
    color: var(--claro-claro);
    margin: 2px;
  }
  .notfound--descripcion {
    font-size: 5vw;
    margin: 2px;
    color: var(--claro-medio);
  }
  .boton--margin {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}
