<div class="grid bg-primary text-center p-3">
    <div class="col flex justify-content-evenly">
        <span class="font-bold">Carlos Morillo Moreno</span>
        <a href="https://es.linkedin.com/in/c-morillo-moreno">
            <i class="pi pi-linkedin"></i>
        </a>
        <a href="https://github.com/devcarlosmm">
            <i class="pi pi-github"></i>
        </a>
    </div>
    <div class="col flex justify-content-evenly">
        <span class="font-bold">Jose Ignacio Morillo Moreno</span>
        <a href="https://es.linkedin.com/in/jose-ignacio-morillo-moreno-9a7a9a140">
            <i class="pi pi-linkedin"></i>
        </a>
        <a href="https://github.com/Yuu-mei">
            <i class="pi pi-github"></i>
        </a>
    </div>
</div>