<div class="row text-center bg-dark text-light p-3">
  <div class="col justify-content-evenly">
    <span><strong>Carlos Morillo Moreno</strong></span>
    <br>
    <a href="https://es.linkedin.com/in/c-morillo-moreno">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/devcarlosmm">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
  <div class="col justify-content-evenly">
    <span><strong>Jose Ignacio Morillo Moreno</strong></span>
    <br>
    <a href="https://es.linkedin.com/in/jose-ignacio-morillo-moreno-9a7a9a140">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/Yuu-mei">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</div>
